/** Todo list **/

.ck .todo-list input {
    padding: 0;
}

.ck .todo-list__checkmark:after {
    height: 6px !important;
}

.ck .todo-list__checkmark {
    padding: 0;
}

.ck.ck-content.ck-editor__editable {
    min-height: 300px;
}

.ck h2 {
    color: inherit;
    background: inherit;
}

form .aligned .ck ul li {
    list-style: inherit;
}

form .aligned .ck ul {
    margin-left: 1.5em;
    padding-left: inherit;
}
.ck-word-count{
    display: flex;
    margin-top: 10px;
}

.ck-word-count__words{
    margin-right: 10px;
}

.ck.ck-editor {
    position: relative;
    width: 100%;
}
.ck-editor-container{
    width: 100%;
}

/* Custom Image Aspect Ratio Styles */

/* 4:3 Aspect Ratio Container */
.ck-content .image-aspect-ratio-43 {
    max-width: 50%;
    float: right;
    
    img {
        aspect-ratio: 4/3 !important;
        width: 100% !important;
        height: 100% !important;
        object-fit: cover;
        object-position: center;
    }
}

/* 2:1 Aspect Ratio Container */
.ck-content .image-aspect-ratio-21 {
    img {
      aspect-ratio: 2/1 !important;
      width: 100% !important;
      height: 100% !important;
      object-fit: cover;
      object-position: center;
    }
}